/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
  box-shadow: none !important;
}


  a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

h1 {
  font-family: 'Calistoga', cursive;
  font: 50px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Home Pg IMG styling
-------------------------------------------------- */
.scene {
  max-width: 45vw;
}

/* Set height for grid items
-------------------------------------------------- */
#myClassroomContent, #classroomContent, #Classroom {
  height: 20vh;
}

#bookIcon, #notebookIcon{
  width: 30%;
}

#yourclassroombtn {
  float: right;
  margin-left: 1em;
}

#yourClassroomContainer {
  margin: 2em;
}

#resourceyLogo {
font-size: 26px;
}

/* #notebookIcon {
  width: 25%;
  padding: 3em, 0em !important;
} */

#sectionDetailsContent {
  height: 40vh;
}

.button-styles, .button-styles input{
  color: #FFFFFF !important;
  border: none !important;
  border-radius: 4em !important;
  background-color: #66B0F0 !important;
  width: 10em !important;
  height: 2em !important;
  padding: .7em 2em;
  margin: 1em 0em !important;
  font-size: .8em !important;
  text-decoration: none !important;
}

.button-styles:hover {
  color: #66B0F0 !important;
  background-color: #FFFFFF !important;
  border: 1px solid #66B0F0 !important;
}

p{
  font-family: 'helvetica-neue', sans-serif;
}

a, button, input{
  color: none;
  border: 0;
  border-radius: 0;
  padding: 0;
}


button {
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgba(0, 0, 0, 0) !important;
}

div.card {
  margin-bottom: 15px;
}

.center {
  text-align: center;
}