@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

@if (SignInManager.IsSignedIn(User))
{
    <img src="~/img/ComputerSCENE.svg">
    @Html.ActionLink("My Classrooms", "YourClassrooms", "Classrooms")
}
else 
{
    <img src="~/img/SCENE3.svg">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
}

</div>
