@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    

@if (SignInManager.IsSignedIn(User))
{   
    <img src="~/img/scene.png" class="scene">
}
else 
{
    <img src="~/img/SCENE3.svg">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
}

</div>
