@{
  Layout = "_Layout";
}

@model Resourcey.Models.Section

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
<input type="submit"  value="Delete" /> <br>
}
<br>
<button type="button">@Html.ActionLink("Back to Classroom", "Index", "Classrooms", null, null, null, null, new {@class="button-styles"} )

