
@{
  Layout = "_Layout";
}

@model Resourcey.Models.Section

<h1>Section Details</h1>
<hr/>
<div>
<h2>@Html.DisplayFor(model => model.Name)</h2>

@if(@Model.Resources.Count == 0)
{
  <p>This section doesn't have any resources.</p>
}
else
{
  <h3>Resources in this section:</h3>
  <ul>
    @foreach (var resource in Model.Resources)
    {
      <div class="col-sm-4" id ="sectionDetailsContent"><p><img src="~/img/openBook.png" id="bookIcon"></p>@Html.ActionLink($"{resource.Name}", "Details", "Resources", new { id = resource.ResourceId } )</div>
    }
  </ul>
}
</div>

<button type="button">@Html.ActionLink("Add a resource", "Create", "Resources", null, null, null, null, new{@class="button-styles"})</button>
<button type="button">@Html.ActionLink("Back to classroom", "Details", "Classrooms",  null, null, null, new { id = Model.ClassroomId }, new {@class="button-styles"})</button>

