
@{
  Layout = "_Layout";
}

@model Resourcey.Models.Section

<h1>Section Details</h1>
<hr/>

<h2>@Html.DisplayFor(model => model.Name)</h2>

@if(@Model.Resources.Count == 0)
{
  <p>This section doesn't have any resources.</p>
}
else
{
  <h3>Resources in this section:</h3>
  <ul>
    @foreach (var resource in Model.Resources)
    {
      <div class="col-sm-4" id ="sectionDetailsContent"><p> </p><img src="~/img/openBook.png" id="bookIcon">@Html.ActionLink($"{resource.Name}", "Details", "Resources", new { id = resource.ResourceId } )</p></div>
    }
  </ul>
}

<button type="button" class="btn btn-warning">@Html.ActionLink("Add a resource", "Create", "Resources")</button>
<button type="button" class="btn btn-warning">@Html.ActionLink("Back to classroom", "Classrooms", "Details", new { id = Model.ClassroomId })</button>