@{
  Layout = "_Layout";
}

@model Resourcey.Models.Classroom

<h1>New Classroom</h1>

@using (Html.BeginForm())
{

  @Html.TextBoxFor(model => model.CourseName, new { placeholder = "Classroom Name" })

  <input type="submit" value="Add Classroom" class="btn-btn-light"/>

}
