@{
  Layout = "_Layout";
}

@model Resourcey.Models.Classroom

<h1> Edit @Html.DisplayFor(model => model.CourseName)</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClassroomId)

    @Html.EditorFor(model => model.CourseName)

    <input type="submit" value="save" class="button-styles"/>
}

