  @{
    Layout = "_Layout";
  }

@using Resourcey.Models
@model List<Resourcey.Models.Classroom>

<div class="container" id="yourClassroomContainer">
  <div class="row align-items-center">
<h1>Classrooms</h1><button type="button" class="btn btn-warning" id="yourclassroombtn">@Html.ActionLink("Create one here", "Create")</button>
  </div>
</div>

@if(@Model.Count == 0)
{
  <p>There are no classrooms!</p>
  <button type="button" class="btn btn-warning">@Html.ActionLink("Create one here", "Create")</button>
}
else
{
<div class="container">
  <div class="row">
    @foreach(Classroom classroom in Model)
    {
      <div class="col-sm-4" id="classroomContent"><img src="~/img/Notebook.png" id="notebookIcon"><p>@Html.ActionLink($"{classroom.CourseName}", "Details", new { id = classroom.ClassroomId})</p></div>
    }
  </div>
</div>

}
