@{
  Layout = "_Layout";
}

@using Resourcey.Models;
@using System.Security.Claims;
@model IEnumerable<Resourcey.Models.Classroom>

<div class="container" id="yourClassroomContainer">
  <div class="row align-items-center">
<h1>Classrooms</h1><button type="button" class="btn btn-warning" id="yourclassroombtn">@Html.ActionLink("Add a new Classroom", "Create")</button>
  </div>
</div>

@if (@Model.Any())
{
<div class="container">
  <div class="row align-items-center">
  @foreach (Classroom classroom in Model)
  {
    <div class="col-sm-4" id ="myClassroomContent"><img src="~/img/openBook.png" id="bookIcon"><p>@Html.ActionLink($"{classroom.CourseName}", "Details", new { id = classroom.ClassroomId } )<p></div>
  }
  </div>
</div>
}
else
{
    <h2>No Classrooms have been added just yet!</h2>
}


